<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firecontrol.module.mapper.GroupMapper">

    <resultMap type="Group" id="GroupResult">
        <result property="id" column="id"/>
        <result property="groupName" column="group_name"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="country" column="country"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="county" column="county"/>
        <result property="locationDetail" column="location_detail"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="obsObjectName" column="obs_object_name"/>
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="groupId"    column="group_id"    />
        <result property="loginName"    column="login_name"   />
        <result property="userName"     column="user_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="salt"         column="salt"         />
        <result property="status"       column="status"       />
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
        <association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />
        <collection  property="roles"   javaType="java.util.List"        resultMap="RoleResult" />
    </resultMap>

    <resultMap type="Group" id="EquipmentInfoListResult">
        <result property="id" column="id"/>
        <result property="groupName" column="group_name"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="country" column="country"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="county" column="county"/>
        <result property="locationDetail" column="location_detail"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="obsObjectName" column="obs_object_name"/>
        <collection  property="installList"   javaType="java.util.List"        resultMap="InstallResult" />
        <collection  property="equipmentList"   javaType="java.util.List"        resultMap="EquipmentResult" />
        <collection  property="alarmList"   javaType="java.util.List"        resultMap="AlarmResult" />
    </resultMap>

    <resultMap type="Group" id="AlarmEquipmentListResult">
        <result property="id" column="id"/>
        <result property="groupName" column="group_name"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="country" column="country"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="county" column="county"/>
        <result property="locationDetail" column="location_detail"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="obsObjectName" column="obs_object_name"/>
        <collection  property="alarmEquipmentList"   javaType="java.util.List"        resultMap="EquipmentResult" />
    </resultMap>

    <resultMap type="Install" id="InstallResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="imei"    column="imei"    />
        <result property="installName"    column="install_name"    />
        <result property="installLocation"    column="install_location"    />
        <result property="installTime"    column="install_time"    />
        <result property="status"    column="status"    />
        <result property="userId"    column="user_id"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
    </resultMap>

    <resultMap type="Equipment" id="EquipmentResult">
        <result property="id"    column="id"    />
        <result property="imei"    column="imei"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="type"    column="type"    />
        <result property="communication"    column="communication"    />
        <result property="manufacturer"    column="manufacturer"    />
        <result property="imsi"    column="imsi"    />
        <result property="hardwareVersion"    column="hardware_version"    />
        <result property="firmwareVersion"    column="firmware_version"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <resultMap type="Alarm" id="AlarmResult">
        <result property="id"    column="id"    />
        <result property="imei"    column="imei"    />
        <result property="batteryLevel"    column="battery_level"    />
        <result property="updateTime"    column="update_time"    />
        <result property="rsrp"    column="rsrp"    />
        <result property="csq"    column="csq"    />
        <result property="snr"    column="snr"    />
        <result property="alarmStatus"    column="alarm_status"    />
        <result property="alarmLeave"    column="alarm_leave"    />
        <result property="cellIdLength"    column="cell_id_length"    />
        <result property="cellId"    column="cell_id"    />
    </resultMap>

    <sql id="selectGroupVo">
        select id, group_name, longitude, latitude, country, province, city, county, location_detail, parent_id, dept_id, ancestors ,obs_object_name from sys_group
    </sql>

    <select id="selectEquipmentInfoList" parameterType="String" resultMap="EquipmentInfoListResult">
       SELECT * FROM sys_group g
       LEFT JOIN sys_install i ON g.id = i.group_id
       LEFT JOIN sys_equipment e ON i.imei = e.imei
       LEFT JOIN sys_alarm a ON e.imei = a.imei
       WHERE
	   g.id = #{groupId};
    </select>

    <select id="alarmEquipment" parameterType="Group" resultMap="EquipmentResult">
        select * from sys_equipment e
        left join sys_alarm a on e.imei = a.imei
        where e.imei in (select imei from sys_install where group_id = #{id})
        and a.alarm_status != 10
    </select>

    <select id="childGroupList" parameterType="Group" resultMap="GroupResult">
        select g.id, g.group_name, g.longitude, g.latitude, g.country, g.province, g.city, g.county, g.location_detail, g.parent_id, g.dept_id, g.ancestors,g.obs_object_name
        from sys_group g
        <where>
            and g.parent_id = #{id}
        </where>
    </select>


    <select id="selectGroupList" parameterType="Group" resultMap="GroupResult">
        <include refid="selectGroupVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="groupName != null  and groupName != '' ">and group_name = #{groupName}</if>
            <if test="longitude != null ">and longitude = #{longitude}</if>
            <if test="latitude != null ">and latitude = #{latitude}</if>
            <if test="country != null  and country != '' ">and country = #{country}</if>
            <if test="province != null  and province != '' ">and province = #{province}</if>
            <if test="city != null  and city != '' ">and city = #{city}</if>
            <if test="county != null  and county != '' ">and county = #{county}</if>
            <if test="locationDetail != null  and locationDetail != '' ">and location_detail = #{locationDetail}</if>
            <if test="parentId != null ">and parent_id = #{parentId}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="ancestors != null  and ancestors != '' ">and ancestors = #{ancestors}</if>
            <if test="obsObjectName != null and obsObjectName != ''" >and  obs_object_name = #{obsObjectName}</if>
        </where>
    </select>

    <select id="listByDept" parameterType="Long" resultMap="GroupResult">
        <include refid="selectGroupVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="groupName != null  and groupName != '' ">and group_name = #{groupName}</if>
            <if test="longitude != null ">and longitude = #{longitude}</if>
            <if test="latitude != null ">and latitude = #{latitude}</if>
            <if test="country != null  and country != '' ">and country = #{country}</if>
            <if test="province != null  and province != '' ">and province = #{province}</if>
            <if test="city != null  and city != '' ">and city = #{city}</if>
            <if test="county != null  and county != '' ">and county = #{county}</if>
            <if test="locationDetail != null  and locationDetail != '' ">and location_detail = #{locationDetail}</if>
            <if test="parentId != null ">and parent_id = #{parentId}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="ancestors != null  and ancestors != '' ">and ancestors = #{ancestors}</if>
        </where>
    </select>

    <select id="selectFirstGroupList" resultMap="GroupResult">
        <include refid="selectGroupVo"/>
        where parent_id = 0
    </select>

    <select id="selectGroupById" parameterType="Integer" resultMap="GroupResult">
        <include refid="selectGroupVo"/>
        where id = #{id}
    </select>

    <select id="selectGroupListByParent" parameterType="Integer" resultMap="GroupResult">
        <include refid="selectGroupVo"/>
        where parent_id = #{parentId}
    </select>

    <insert id="insertGroup" parameterType="Group" useGeneratedKeys="true" keyProperty="id">
        insert into sys_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupName != null  and groupName != ''  ">group_name,</if>
            <if test="longitude != null  ">longitude,</if>
            <if test="latitude != null  ">latitude,</if>
            <if test="country != null  and country != ''  ">country,</if>
            <if test="province != null  and province != ''  ">province,</if>
            <if test="city != null  and city != ''  ">city,</if>
            <if test="county != null  and county != ''  ">county,</if>
            <if test="locationDetail != null  and locationDetail != ''  ">location_detail,</if>
            <if test="parentId != null  ">parent_id,</if>
            <if test="deptId != null  ">dept_id,</if>
            <if test="ancestors != null  and ancestors != ''  ">ancestors,</if>
            <if test="obsObjectName != null  and obsObjectName != ''  ">obs_object_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupName != null  and groupName != ''  ">#{groupName},</if>
            <if test="longitude != null  ">#{longitude},</if>
            <if test="latitude != null  ">#{latitude},</if>
            <if test="country != null  and country != ''  ">#{country},</if>
            <if test="province != null  and province != ''  ">#{province},</if>
            <if test="city != null  and city != ''  ">#{city},</if>
            <if test="county != null  and county != ''  ">#{county},</if>
            <if test="locationDetail != null  and locationDetail != ''  ">#{locationDetail},</if>
            <if test="parentId != null  ">#{parentId},</if>
            <if test="deptId != null  ">#{deptId},</if>
            <if test="ancestors != null  and ancestors != ''  ">#{ancestors},</if>
            <if test="obsObjectName != null and obsObjectName != ''" >obs_object_name,</if>
        </trim>
    </insert>

    <update id="updateGroup" parameterType="Group">
        update sys_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupName != null  and groupName != ''  ">group_name = #{groupName},</if>
            <if test="longitude != null  ">longitude = #{longitude},</if>
            <if test="latitude != null  ">latitude = #{latitude},</if>
            <if test="country != null  and country != ''  ">country = #{country},</if>
            <if test="province != null  and province != ''  ">province = #{province},</if>
            <if test="city != null  and city != ''  ">city = #{city},</if>
            <if test="county != null  and county != ''  ">county = #{county},</if>
            <if test="locationDetail != null  and locationDetail != ''  ">location_detail = #{locationDetail},</if>
            <if test="parentId != null  ">parent_id = #{parentId},</if>
            <if test="deptId != null  ">dept_id = #{deptId},</if>
            <if test="ancestors != null  and ancestors != ''  ">ancestors = #{ancestors},</if>
            <if test="obsObjectName != null and obsObjectName != ''" >obs_object_name = #{obsObjectName}</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGroupById" parameterType="Integer">
        delete from sys_group where id = #{id}
    </delete>

    <delete id="deleteGroupByIds" parameterType="String">
        delete from sys_group where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>